*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Poppins",sans-serif;
}

body{

background:linear-gradient(135deg,#1e3c72,#2a5298);

height:100vh;

display:flex;
justify-content:center;
align-items:center;

color:white;

}

.container{

width:90%;
max-width:900px;

}

.title{

text-align:center;
font-size:40px;
margin-bottom:30px;

}

.card{

background:rgba(255,255,255,0.12);

backdrop-filter:blur(20px);

padding:40px;

border-radius:20px;

box-shadow:0 20px 50px rgba(0,0,0,0.4);

text-align:center;

margin-bottom:20px;

}

input{

width:80%;

padding:14px;

margin:12px;

border:none;

border-radius:10px;

outline:none;

font-size:15px;

}

button{

padding:14px 28px;

border:none;

border-radius:10px;

background:linear-gradient(45deg,#00c6ff,#0072ff);

color:white;

font-weight:bold;

font-size:15px;

cursor:pointer;

transition:0.3s;

}

button:hover{

transform:scale(1.07);

box-shadow:0 12px 30px rgba(0,0,0,0.4);

}

hr{

margin:25px 0;
border:1px solid rgba(255,255,255,0.3);

}

#history{

margin-top:20px;

}

.history-card{

background:white;

color:black;

padding:12px;

margin:10px;

border-radius:10px;

box-shadow:0 5px 10px rgba(0,0,0,0.2);

}

a{

color:#00e1ff;
text-decoration:none;
font-weight:bold;

}
